.branding{
    height:70px;
    color:white;
    background: black;
}
.logCs{
   
    position: absolute;
    float: right !important;
    height: 30px;
    margin-right: 30px;
    margin-top: 10px;
   
}
.navbar-brand{
    display:inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin: right 1rem;
    font: size 22px;
    line-height:inherit;
    white-space:nowrap;
    font-weight:bold;
    margin-top:12px;
    float: right;
    margin-right: 30px;
    height: 40px;
}